<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="javaMapperPackage" value="com.fang.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.fang.pojo" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="myweb_cloudDisk" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="myweb_cloudDisk">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fang.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.fang.pojo" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mybatis.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="p3CComment" value="true" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="myweb_clouddisk:admin">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Admin" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:file">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="file_id" />
                  <option name="javaModelName" value="File" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:file_classify">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="classify_id" />
                  <option name="javaModelName" value="FileClassify" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:file_extend">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="extend_id" />
                  <option name="javaModelName" value="FileExtend" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:file_type">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="FileType" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:login_log">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="LoginLog" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:operation_log">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="OperationLog" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:recovery_file">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="recovery_file_id" />
                  <option name="javaModelName" value="RecoveryFile" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:storage">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="storage_id" />
                  <option name="javaModelName" value="Storage" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="user_id" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="myweb_clouddisk:user_file">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="user_file_id" />
                  <option name="javaModelName" value="UserFile" />
                  <option name="moduleName" value="myweb_cloudDisk" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mybatis.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>